<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {{ page_title }}{% unless page_title contains shop.name %} — {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  </head>
  <body>
    <a href="#main" class="skip-link">Aller au contenu</a>

    {% section 'header' %}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>
